# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log

# Database
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# PyCharm
.idea/

# Visual Studio Code
.vscode/
.history/

# Docker
**/docker/.env

# Supabase
**/supabase/.branches
**/supabase/.temp
gcloud.json

# Other
*.swp
.tmp
.DS_Store
.coverage
*.lcov
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.vercel
